.D1{
    list-style-type: none;
}
.D2{
    list-style-type: square;
}
.D3{
    list-style-type: georgian;
}
.D4{
    list-style-type: armenian;
}
.D5{
    list-style-type: upper-latin;
}