@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Oswald:wght@200..700&family=Righteous&display=swap');

#d1 {
    font-family: "Oswald", serif;
}

#d2 {
    font-family: "WindSong", cursive;    
}

#d3 {
    font-family: "Nosifer", serif;
}
#d4 {
    font-family: "Monoton", sans-serif;
}

#d5 {
    font-family: "Montserrat Subrayada", sans-serif;
}
