.p1 {
    font-size: 30px;
    width: 200px;
    background-color: red;
    height: 200px;
    border: 20px solid black;
    padding: 28px;
    margin: 20px;
}

/* 
    padding =>

    padding-top: ;
    padding-right: ;
    padding-bottom:  
    padding-left: ;

    margin =>

    padding-top: ;
    padding-right: ;
    padding-bottom:  
    padding-left: ;
 */

.p2{
    font-size: 30px;
    width: 200px;
    background-color: red;
    height: 200px;
    border: 20px solid black;
    padding: 28px;
}
